/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Guide Common */

* {max-height:1000000px; font-family:'Noto Sans', 'AppleSDGothicNeo', 'DroidSansFallback', arial, sans-serif; color:#333; letter-spacing:-0.025em; box-sizing:border-box;}
html,
body {height:100%;}

/* Layout */

header {position:fixed; top:0; left:0; width:100%; height:50px; border-bottom:1px solid #ccc; background:#fff; box-sizing:border-box;}
header h1 {position:absolute; top:10px; left:10px;}
header h1 img {max-height:30px;}
nav ul {position:absolute; top:15px; right:0; text-align:center;}
nav ul li {display:inline-block; padding:0 10px; border-left:1px solid #ccc;}
nav ul li:first-child {border-left:0;}
nav ul li a {display:inline-block; line-height:20px; font-size:16px; font-weight:700; text-decoration:none;}

section {position:fixed; top:0; left:0; width:100%; height:100%; margin-top:50px;}
section iframe {width:100%; height:calc(100% - 50px);}

/* Guide */

.guide_wrap {padding:10px;}
.guide_wrap .tit {line-height:1.5; margin-bottom:5px; font-size:16px; font-weight:700;}
.guide_wrap a {text-decoration:none;}
.guide_wrap > ul {margin-bottom:15px;}
.guide_wrap > ul > li {line-height:1.5; padding-left:9px; text-indent:-9px; font-size:14px; color:#999;}
.guide_wrap > ul > li:before {content:"-"; margin-right:5px;}

.directory {margin-bottom:15px; padding:10px; background:#eee;}
.directory em {display:inline-block; line-height:1.5; margin-bottom:5px; font-size:14px; font-style:normal;}
.directory ul li {line-height:1.5; font-size:12px; color:#333;}
.directory ul > li > ul li {padding-left:12px; text-indent:-12px; color:#666;}
.directory ul > li > ul li:before {content:"├"; margin-right:5px;}
.directory ul > li > ul li:last-child:before {content:"└";}
pre {line-height:1.5; font-size:12px; margin-bottom:10px;}

/* Map */

.warning {display:none; line-height:1.5; padding:5px 0; font-size:12px; background:red; color:#fff; text-align:center; word-break:keep-all;}
.map_wrap {padding:10px;}
.map_wrap .tit {line-height:1.5; font-size:16px; font-weight:700;}

.map_wrap .info {overflow:hidden; margin:10px 0 5px 0; font-size:12px;}
.map_wrap .info .process {overflow:hidden; float:left; line-height:20px;}
.map_wrap .info .process dt,
.map_wrap .info .process dd {float:left; margin-right:5px;}
.map_wrap .info .process dd {color:red;}
.map_wrap .info .status {overflow:hidden; float:right;}
.map_wrap .info .status li {float:left; margin-left:5px;}
.map_wrap .info .status li em {margin-right:5px;}

table.list {width:100%; min-width:320px; border-top:1px solid #999; border-bottom:1px solid #999; font-size:0; table-layout:fixed; word-break:break-all;}
table.list th,
table.list td {overflow:hidden; line-height:20px; padding:5px; border-top:1px solid #eee; border-left:1px solid #ccc; font-size:12px; text-overflow:ellipsis; white-space:nowrap;}
table.list th {border-left:1px solid #999; border-top:1px solid #999;}
table.list td a {text-decoration:none; color:#666;}
table.list tr.hover td,
table.list tr.hover td a {background:#999; color:#fff;}
table.list tr.part td {border-top:1px solid #ccc;}
table.list tr th:first-child,
table.list tr td:first-child {border-left:0;}
table.list tr:first-child td {border-top:1px solid #999;}
table.list th {background:#ccc; font-weight:700;}
table.list th.num {width:40px;}
table.list th.id {width:110px;}
table.list th.dev {width:50px;}
table.list th.stat,
table.list th.date {width:50px;}
table.list th.memo {width:30%;}
table.list th.link {width:80px;}
table.list td {color:#666;}
table.list td.center {text-align:center;}

em.ico {display:inline-block; width:20px; line-height:20px; border-radius:5px; color:#fff; font-size:12px; font-style:normal; text-transform:uppercase; text-align:center;}
em.ico.standby {background:#666;}
em.ico.work {background:#1e90ff;}
em.ico.end {background:#32cd32;}
em.ico.modify {background:#ff1493;}

@media only screen and (max-width:1024px){

header {text-align:center;}
header h1 {position:static;}
header {height:auto; padding:10px 0; font-size:0;}
nav {overflow-x:auto; width:100%;}
nav ul {position:static; margin-top:10px; white-space:nowrap;}
nav ul li a {line-height:19px; font-size:14px;}

section {position:static; margin-top:80px;}

.guide_wrap > ul > li {padding-left:8px; text-indent:-8px; font-size:12px;}

.map_wrap {padding:0; padding-top:10px;}
.map_wrap .info {padding:5px;}
.map_wrap .tit {text-align:center;}

table.list,
table.list thead,
table.list tbody,
table.list tr {display:block;}
table.list {border:0;}
table.list tr {border-top:1px solid #eee; padding:5px;}
table.list td {display:inline-block; margin-right:5px; padding:0 5px; border:0 !important; border-radius:5px; color:#333;}
table.list.d3 td {max-width:calc(33.33% - 35px);}
table.list.d4 td {max-width:calc(25% - 25px);}
table.list td.nodata {margin:0; padding:0;}
table.list tr.hover td,
table.list tr.hover td a {background:#fff; color:#666;}
table.list tr:first-child,
table.list tr.part {border-top:1px solid #999;}
table.list tr:last-child {border-bottom:1px solid #999;}
table.list thead,
table.list td:nth-of-type(1),
table.list td:nth-last-of-type(6),
table.list td:nth-last-of-type(5),
table.list td:nth-last-of-type(3),
table.list td:nth-last-of-type(2) {position:absolute; top:-9999px; left:-9999px;}
table.list td:nth-of-type(2) {background:#888 !important; color:#fff !important; font-weight:700;}
table.list td:nth-of-type(3) {background:#aaa !important;}
table.list td:nth-of-type(4) {background:#ccc !important;}
table.list td:nth-of-type(5) {background:#eee !important;}
table.list td:nth-of-type(8),
table.list td:last-of-type {margin:0; padding:0;}
table.list td:last-of-type {float:right;}

}

@media only screen and (max-width:767px){

.warning {display:block;}
pre {display:none;}

}